{erl_opts,
 [ debug_info
 , nowarn_shadow_vars
 , warnings_as_errors
 ]}.

{deps,
  [ {meck,   {git,"git@github.com:kivra/meck.git",   {tag, "0.8.8"}}}
  , {proper, {git,"git@github.com:kivra/proper.git", {tag, "v1.2"}}}
  ]}.

{xref_checks, [ deprecated_function_calls
              , deprecated_functions
              , locals_not_used
              ]}.
